APP_NAME=History-Pasien-Monitoring
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=db_pasien_mon
DB_USERNAME=postgres
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_COOKIE=pasien_mon_session

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Konfigurasi Active Directory / LDAP
LDAP_LOGGING=true
LDAP_CONNECTION=default
LDAP_HOST=
LDAP_PORT=389
LDAP_BASE_DN=
LDAP_USERNAME=
LDAP_PASSWORD=
LDAP_TIMEOUT=5
LDAP_SSL=false
LDAP_TLS=false
LDAP_ALLOWED_GROUP="Monitoring-Pasien"

# Pasien Histori Integration Settings
PASIEN_HISTORI_API_TOKEN=

# HIS (Afya) API Endpoint Configuration
AFYA_API_URL=https://api-lb.rs.ui.ac.id/rest
AFYA_API_USER=
AFYA_API_PASS=

# Bed Monitoring API Endpoint Configuration
BED_MON_API_URL=https://bed-monitoring.rs.ui.ac.id
EXTERNAL_API_KEY=rsui_bed_mon_secret_key_2026
